[mysql]
default-character-set=utf8
innodb_buffer_pool_size = 256M
key_buffer = 128M
query_cache_size = 1M
query_cache_limit = 128M
thread_cache_size = 8
max_connections = 400
innodb_lock_wait_timeout = 100

[client]
default-character-set=utf8
# host     = 127.0.0.1
user     = root
# port     = 4040
